.navbar__logo {
    height: 30px;
    margin-left: 50px;
}

.nav__button {
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    background-color: transparent;
    transition: .5s;
}

.nav__button:hover {
    background-color: #F91944;
    color: white;

}

.sticky-top {
    background-color: white;
    box-shadow: 0 0 10px #e1dfe0;
}

.nav__button__active {
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    background-color: #F91944;
    color: white;
}

.nav__cart {
    margin-top: 10px;
}

.nav__cart__icon {
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
    color: #F91944;
}

.center .nav-item .active {
    color: #F91944 !important;
    font-weight: 600;
}

.center .nav-item .nav-link {
    color: #111111;
}

.center .nav-item .nav-link:hover {
    color: #F91944 !important;
}

.navbar-toggler {
    background-color: #F91944 !important;
    color: white !important;
}